[ ca ]
default_ca       = UWSAPPCA

[ UWSAPPCA ]
dir              = /usr/local/etc/ca
database         = $dir/index.txt
new_certs_dir    = $dir/cert
certificate      = $dir/rootCA.pem
serial           = $dir/serial
#rand_serial     = yes
private_key      = $dir/rootCA-key.pem
RANDFILE         = $dir/.rand

crlnumber        = $dir/crlnumber
crl              = $dir/rootCA-crl.pem
default_crl_days = 90

default_md       = default
default_days     = 800
default_crl_days = 500
unique_subject   = yes
