{% extends "base.html" %}
{% block title %}uwsweb - /auth/login{% endblock %}
{% block content %}
<!-- uwsweb/auth/login.html -->

<div class="w3-container w3-center">

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
	{% if user.is_authenticated %}
	<p>Your account doesn't have access to this page. To proceed,
	please login with an account that has access.</p>
	{% else %}
	<p>Please login to see this page.</p>
	{% endif %}
{% endif %}

<form class="w3-container" method="post" action="{% url 'login' %}">
{% csrf_token %}
	<input class="w3-input" type="text" name="username" autofocus
		autocapitalize="none" autocomplete="username" required id="id_username"
		placeholder="Email">

	<input class="w3-input" type="password" name="password" required
		autocomplete="current-password" id="id_password"
		placeholder="Password">

	<input class="w3-btn w3-block w3-margin-top w3-black w3-border w3-border-green w3-text-green"
		type="submit" value="login">
	<input type="hidden" name="next" value="{{ next }}">
</form>

</div>
<!-- uwsweb/auth/login.html -->
{% include "uwsweb/footer.html" %}
{% endblock %}
