<!DOCTYPE html>
<html>
<head>{% load static %}
<title>{% block title %}{{ appname }} - {{ title }}{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="{% static 'w3css/4/w3.css' %}">
<link rel="stylesheet" href="{% static 'w3css/default.css' %}">
<link rel="stylesheet" href="{% static 'default.css' %}">
</head>
<body class="w3-monospace w3-black w3-text-sand">
<div id="main">
{% include "header.html" %}
{% block content %}{% endblock %}
{% include "footer.html" %}
</div><!-- main -->
</body>
</html>
