<!-- header.html START -->

{% if user.name %}
<!-- header -->
<div class="w3-bar w3-text-blue">
	<div class="w3-bar-item w3-text-dark-grey w3-hover-text-grey">
		<span><b>uwsweb</b></span>
	</div>
	<div class="w3-bar-item w3-right w3-text-green">
		<span class="w3-small">{% now 'DATETIME_FORMAT' %}</span>
	</div>
	<div class="w3-bar-item w3-right w3-btn {% if navbar_id == 'user' %}w3-blue{% endif %}">
		<a href="{% url 'user' %}">{{ user.name }}</a>
	</div>
</div>
{% endif %}

{% if navbar %}
<!-- navbar -->
{% include "uwsweb/navbar.html" %}
{% endif %}

{% if title_desc %}
<!-- page title -->
<div class="w3-padding-small w3-blue w3-center">
	<b>{{ title_desc }}</b>
</div>
{% endif %}

{% if messages %}
<!-- user messages -->
<ul class="w3-ul">
{% for msg in messages %}
	<li
	{% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
		class="w3-padding w3-red"
	{% else %}
		class="w3-padding w3-green"
	{% endif %}
	>{{ msg }}</li>
{% endfor %}
</ul>
{% endif %}

<!-- header.html END -->
