{% extends "base.html" %}
{% block content %}
{% include "uwsweb/navbar.html" %}
<!-- uwslogs/index.html -->

<div class="w3-margin-top">
{% for idx, e in syslog.items %}

{% if e.error %}
<div class="w3-row w3-text-red    w3-hover-text-black w3-hover-white">
{% elif e.warning %}
<div class="w3-row w3-text-yellow w3-hover-text-black w3-hover-white">
{% else %}
<div class="w3-row w3-text-green  w3-hover-text-black w3-hover-white">
{% endif %}

<div class="w3-margin-left w3-margin-right">
	<div class="w3-third">
		<span class="w3-text-grey        w3-hover-text-black">{{ e.timestamp }}</span>
		<span class="w3-text-deep-purple w3-hover-text-black">{{ e.user }}</span>
	</div>

	<div class="w3-twothird">
		<span>{{ e.message }}</span>
	</div>
</div>

</div>
{% empty %}
<div class="w3-row"><span>no logs</span></div>
{% endfor %}
</div>

<!-- uwslogs/index.html -->
{% include "uwsweb/footer.html" %}
{% endblock %}
