{% extends "base.html" %}
{% block content %}
<!-- uwslogs/index.html -->

<div class="w3-margin-top">
{% for idx, e in syslog.items %}

{% if e.error %}
<div class="w3-row w3-round-xlarge w3-text-red uws-hover-grey">
{% elif e.warning %}
<div class="w3-row w3-round-xlarge w3-text-yellow uws-hover-grey">
{% else %}
<div class="w3-row w3-round-xlarge w3-text-green uws-hover-grey">
{% endif %}

<div class="w3-margin-left w3-margin-right">
	<div class="w3-third">
		<span class="w3-text-grey">{{ e.timestamp }}</span>
		<span class="w3-text-deep-purple">{{ e.user }}</span>
	</div>

	<div class="w3-twothird">
		<span>{{ e.message }}</span>
	</div>
</div>

</div>
{% empty %}
<div class="w3-row"><span>no logs</span></div>
{% endfor %}
</div>

<!-- uwslogs/index.html -->
{% endblock %}
