{% extends "base.html" %}
{% block content %}
{% include "uwsweb/navbar.html" %}
<!-- uwslogs/index.html -->

<table class="w3-table">
{% for idx, e in syslog.items %}
	{% if e.error %}
	<tr class="w3-text-red">
	{% elif e.warning %}
	<tr class="w3-text-yellow">
	{% else %}
	<tr class="w3-text-green">
	{% endif %}
		<td class="w3-small w3-text-grey">{{ e.timestamp }} {{ e.user }}</td>
		<td>{{ e.message }}</td>
	</tr>
{% empty %}
	<tr><td>no messages</td></tr>
{% endfor %}
</table>

<!-- uwslogs/index.html -->
{% include "uwsweb/footer.html" %}
{% endblock %}
