{% extends "base.html" %}
{% block content %}
<!-- uwslogs/nq.html -->

<div class="w3-margin-top">
{% for idx, job in nqlog.items %}

{% if job.failed %}
<div class="w3-row w3-text-red uws-hover-black">
{% elif job.running %}
<div class="w3-row w3-text-green uws-hover-black">
{% else %}
<div class="w3-row uws-hover-black">
{% endif %}

	<div class="w3-margin-left w3-margin-right">
		<div class="w3-quarter">
			{% if job.running %}
			<span class="w3-text-green">
			{% else %}
			<span class="w3-text-grey">
			{% endif %}
				{{ job.start }}
			</span>
		</div>

		<div class="w3-threequarter">
			<span>{{ job.command }}</span>
		</div>
	</div>

</div>
{% empty %}
<div class="w3-row"><span>no jobs</span></div>
{% endfor %}
</div>

<!-- uwslogs/nq.html -->
{% endblock %}
