{% extends "base.html" %}
{% block content %}
{% include "uwsweb/navbar.html" %}
<!-- uwslogs/nq.html -->

<div class="w3-margin-top">
{% for idx, job in nqlog.items %}
<div class="w3-row w3-margin-left w3-border-dark-grey w3-hover-white">

	{% if job.failed %}
	<div class="w3-quarter w3-text-red">
	{% elif job.running %}
	<div class="w3-quarter w3-green w3-text-black">
	{% else %}
	<div class="w3-quarter">
	{% endif %}
		{% if job.running %}
		<span class="w3-text-black w3-hover-text-black">
		{% else %}
		<span class="w3-text-grey w3-hover-text-black">
		{% endif %}
			{{ job.start }}
		</span>
	</div>

	{% if job.failed %}
	<div class="w3-treequarter w3-text-red w3-hover-text-black">
	{% elif job.running %}
	<div class="w3-treequarter w3-green w3-text-black w3-hover-text-black">
	{% else %}
	<div class="w3-treequarter w3-hover-text-black">
	{% endif %}
		<span>{{ job.command }}</span>
	</div>

</div>
{% empty %}
<div class="w3-row"><span>no jobs</span></div>
{% endfor %}
</div>

<!-- uwslogs/nq.html -->
{% include "uwsweb/footer.html" %}
{% endblock %}
