{% extends "base.html" %}
{% block content %}
{% include "uwsweb/navbar.html" %}
<!-- uwsweb/api.html -->

{% if api_response %}
<pre class="w3-container w3-margin-top">
{{ api_response.url }}
HTTP/1.1 {{ api_response.code }}
Date: {{ api_response.date }}
</pre>
<hr class="w3-border-dark-grey">
{% endif %}

<form class="w3-panel" method="post" action="{% url 'api' %}">
	{% csrf_token %}
	<label>URL</label>
	<input class="w3-input w3-black w3-border w3-border-green w3-text-green"
		type="text" name="api_endpoint" placeholder="/api/endpoint"
		required="required" value="{{ api_endpoint }}">
	<br>
	<label>POST data in json format</label>
	<textarea
		class="w3-padding w3-black w3-border w3-border-green w3-text-green"
		style="display:block;width:100%;height:300px"
		name="api_params">{{ api_params }}</textarea>
	<br>
	<input
		class="w3-btn w3-block w3-black w3-border w3-border-green w3-text-green"
		type="submit" name="api_method" value="POST">
</form>

<!-- uwsweb/api.html -->
{% include "uwsweb/footer.html" %}
{% endblock %}
