{% extends "base.html" %}
<!-- uwsweb/apps.html -->
{% block content %}

{% include "uwsweb/navbar.html" %}

{% if user.apps %}
<table class="w3-table">
	<tr class="w3-blue"><td>Apps</td><td></td></tr>

	{% if user.apps.build %}
	<tr class="w3-dark-grey"><td></td><td>Build</td></tr>
	{% for app, desc in user.apps.build.items %}
	<tr><td>{{ app }}</td><td>{{ desc }}</td></tr>
	{% endfor %}
	{% endif %}

	{% if user.apps.deploy %}
	<tr class="w3-dark-grey"><td></td><td>Deploy</td></tr>
	{% for app, desc in user.apps.deploy.items %}
	<tr><td>{{ app }}</td><td>{{ desc }}</td></tr>
	{% endfor %}
	{% endif %}

</table>
{% endif %}

{% endblock %}
<!-- uwsweb/apps.html -->
