{% extends "base.html" %}
<!-- uwsweb/user.html -->
{% block content %}

{% include "uwsweb/navbar.html" %}

<table class="w3-table">
	<tr><td>UID</td><td>{{ user.uid }}</td></tr>
	<tr><td>Username</td><td>{{ user.username }}</td></tr>
	{% if user.is_admin or user.is_operator %}
	<tr>
		<td class="w3-text-green">{% if user.is_admin %}Admin{% endif %}</td>
		<td class="w3-text-green">{% if user.is_operator %}Operator{% endif %}</td>
	</tr>
	{% endif %}
</table>

{% include "uwsweb/footer.html" %}
{% endblock %}
<!-- uwsweb/user.html -->
