{% extends "base.html" %}
{% block content %}
<!-- uwsweb/user.html -->

<table class="w3-table w3-margin-top">
	<tr><td>Username</td><td>{{ user.username }}</td></tr>

	{% if user.is_admin or user.is_operator %}
	<tr>
		<td class="w3-text-green">{% if user.is_admin %}Admin{% endif %}</td>
		<td class="w3-text-green">{% if user.is_operator %}Operator{% endif %}</td>
	</tr>
	{% endif %}
</table>

{% if debug %}
<hr class="w3-border-dark-grey">
<div class="w3-small">
	<div class="w3-row w3-round-xlarge uws-hover-grey">
		<div class="w3-margin-left w3-margin-right">
			<span class="w3-quarter">UID</span>
			<span class="w3-threequarter">{{ user.uid }}</span>
		</div>
	</div>
	<div class="w3-row w3-round-xlarge uws-hover-grey">
		<div class="w3-margin-left w3-margin-right">
			<span class="w3-quarter">Session</span>
			<span class="w3-threequarter">{{ user.web.session_key }}</span>
		</div>
	</div>
	<div class="w3-row w3-round-xlarge uws-hover-grey">
		<div class="w3-margin-left w3-margin-right">
			<span class="w3-quarter">API Session</span>
			<span class="w3-threequarter">{{ user.session }}</span>
		</div>
	</div>
	<div class="w3-row w3-round-xlarge uws-hover-grey">
		<div class="w3-margin-left w3-margin-right">
			<span class="w3-quarter">Python</span>
			<span class="w3-threequarter">{{ python.version }}</span>
		</div>
	</div>
	<div class="w3-row w3-round-xlarge uws-hover-grey">
		<div class="w3-margin-left w3-margin-right">
			<span class="w3-quarter">django</span>
			<span class="w3-threequarter">{{ django.version }}</span>
		</div>
	</div>
	<div class="w3-row w3-round-xlarge uws-hover-grey">
		<div class="w3-margin-left w3-margin-right">
			<span class="w3-quarter">uwsgi</span>
			<span class="w3-threequarter">{{ uwsgi.version }}</span>
		</div>
	</div>
	<div class="w3-row w3-round-xlarge uws-hover-grey">
		<div class="w3-margin-left w3-margin-right">
			<span class="w3-quarter">Debian</span>
			<span class="w3-threequarter">{{ debian.version }}</span>
		</div>
	</div>
</div>
{% endif %}

<!-- uwsweb/user.html -->
{% endblock %}
