{% extends "base.html" %}
<!-- uwsweb/user.html -->
{% block content %}

{% include "uwsweb/navbar.html" %}

<table class="w3-table">
	<tr><td>UID</td><td>{{ user.uid }}</td></tr>
	<tr><td>Username</td><td>{{ user.username }}</td></tr>
	{% if user.is_admin or user.is_operator %}
	<tr>
		<td class="w3-text-green">{% if user.is_admin %}Admin{% endif %}</td>
		<td class="w3-text-green">{% if user.is_operator %}Operator{% endif %}</td>
	</tr>
	{% endif %}

	{% if user.apps %}
	<tr class="w3-blue"><td>Apps</td><td></td></tr>

	{% if user.apps.build %}
	<tr class="w3-dark-grey"><td></td><td>Build</td></tr>
	{% for app, desc in user.apps.build.items %}
	<tr><td>{{ app }}</td><td>{{ desc }}</td></tr>
	{% endfor %}
	{% endif %}

	{% if user.apps.deploy %}
	<tr class="w3-dark-grey"><td></td><td>Deploy</td></tr>
	{% for app, desc in user.apps.deploy.items %}
	<tr><td>{{ app }}</td><td>{{ desc }}</td></tr>
	{% endfor %}
	{% endif %}

	{% endif %}
</table>

{% endblock %}
<!-- uwsweb/user.html -->
