{% extends "base.html" %}
{% block content %}
<!-- uwsapps/control.html -->
{% include "uwsapps/header.html" %}
{% if app_action_response %}
<div class="w3-container">
{% if app_action_response.status == 'error' %}
<p class="w3-center w3-red"><b>ERROR</b></p>
<textarea class="w3-black w3-text-red w3-border-0"
	rows="{{ app_action_response_lines }}" style="display:block;width:100%;"
	wrap="hard" readonly
>{{ app_action_response.output }}
</textarea>
{% else %}
<pre class="w3-text-green">{{ app_action_response.output }}</pre>
{% endif %}
</div>
{% endif %}

<!-- uwsapps/control.html -->
{% endblock %}
