{% extends "base.html" %}
{% block content %}
{% include "uwsweb/header.html" %}
<!-- uwsapps/index.html -->

{% if user.apps %}
<table class="w3-table">

	{% if apps.build %}
	<tr class="w3-green w3-text-black"><td>Build</td><td></td></tr>
	{% for app, desc in apps.build.items %}
	<tr><td>{{ app }}</td><td>{{ desc }}</td></tr>
	{% endfor %}
	{% endif %}

	{% if apps.deploy %}
	<tr class="w3-green w3-text-black"><td>Deploy</td><td></td></tr>
	{% for app, desc in apps.deploy.items %}
	<tr><td>{{ app }}</td><td>{{ desc }}</td></tr>
	{% endfor %}
	{% endif %}

</table>
{% endif %}

<!-- uwsapps/index.html -->
{% include "uwsweb/footer.html" %}
{% endblock %}
