[Unit]
Description=uwsweb-%i
Requires=syslog.service
AssertFileIsExecutable=/usr/bin/docker
AssertFileIsExecutable=/srv/uwsapp/%i/start.sh
AssertFileIsExecutable=/srv/uwsapp/%i/stop.sh

[Service]
Type=exec
Restart=on-failure
User=uwsrun
Group=uws
WorkingDirectory=/home/uws
Environment=UWSAPP_NAME='web'
Environment=UWSAPP_PORT='5000'
Environment=UWSAPP_WORKERS='3'
PassEnvironment=UWSAPP_NAME UWSAPP_PORT UWSAPP_WORKERS
ExecStart=/srv/uwsapp/%i/start.sh %i
ExecStop=/srv/uwsapp/%i/stop.sh %i

[Install]
WantedBy=multi-user.target
